* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* container */

.container {
    margin: 0 12%;
}

/* body */

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* navbar */
.navbar {
    background: #1F2937;
}

.navbar .container {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    font-size: 18px;
}
.links a{
    color: #E5E7EB;
    text-decoration: none;
}

.links a:hover {
    color: #3882F6;
    text-decoration: none;
}

/* header */

.header {
    background: #1F2937;
}
.header .container {
    background: #1F2937;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    max-width: 500px;
    min-width: 250px;
    padding: 8px;
}

.hero-text{
    color:#E5E7EB;
    width: 50%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-start;
}

/* Services */

.services .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.services-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}
.services-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.service {
    height: auto;
    width: auto;
    padding: 30px;
}

.align {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* quot */

.quote {
    background-color: #E5E7EB;
}

.quote .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    
}
.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.auth {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

/* contact us*/

.contact-us .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.contact-title {
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 40px;
    color: #E5E7EB;
}
.contact input {
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
}
.info {
    display:flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}
.info div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subject {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.subject input{
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message textarea {
    height: 150px;
    border: none;
    border-radius: 10px;
}

.contact button {
    align-self: flex-end;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 75px;
}